.main-nav {
  min-height: 70px;
  padding-left: 10px;
}

.nav-logo-text,
.nav-logo-text:hover {
  color: #fff;
}

.main-menu {
  width: 380px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.main-menu a {
  color: rgba(255, 255, 255, 0.5);
}

.main-menu a:hover {
  color: #fff;
}

.main-menu a.active {
  color: #fff;
  font-weight: bold;
}

@media (min-width: 992px) {
  .main-nav {
    padding-left: 30px;
  }
}
