.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-item {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: #e1e1e1;

  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.015em;
  color: #fff;

  margin: 0px 5px;
}

.pagination-item:hover {
  color: #407bff;
}

.pagination-item-active {
  background-color: #407bff;
}

.pagination-item-active:hover {
  color: #fff;
}

.arrow-previous {
  color: #407bff;
  transform: rotate(-180deg);
  margin-right: 15px;
}

.arrow-next {
  color: #407bff;
  margin-left: 15px;
}

.arrow-inactive {
  color: #e1e1e1;
}

.arrow-active {
  color: #407bff;
}
